<%- include('../partials/header.ejs')%>
<%- include('../partials/main_nav.ejs')%>
<!--Content for Add Page-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 style = "color:white"><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="typeTextField" style = "color:white">Incident Type</label>
                    <select type="text" class="form-control" id="typeTextField" placeholder="Enter incident type" name="type" required>
                        <option value="" disabled selected>Please select an option</option>
                        <option value="Verbal Altercation">Verbal Altercation</option>
                        <option value="Physical Altercation">Physical Altercation</option>
                        <option value="Property Damage">Property Damage</option>
                        <option value="Human Error">Human Error</option>
                        <option value="Workplace Injury">Workplace Injury</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="timeTextField"style = "color:white">Incident Time</label>
                    <input type="datetime-local" class="form-control" id="timeTextField" placeholder="Enter the time of the incident" name="time" required>
                </div>
                <div class="form-group">
                    <label for="locationTextField"style = "color:white">Incident Location</label>
                    <input type="text" class="form-control" id="locationTextField" placeholder="Enter location" name="location" required>
                </div>
                <div class="form-group">
                    <label for="involvedPartiesTextField"style = "color:white">Involved Parties</label>
                    <input type="text" class="form-control" id="involvedPartiesTextField" placeholder="Enter involved parties" name="involvedParties" required>
                </div>
                <div class="form-group">
                    <label for="overviewTextField"style = "color:white">Incident Overview</label>
                    <textarea type="text" class="form-control" id="overviewTextField" placeholder="Enter incident overview" name="overview" required></textarea>
                </div>
                <div class="form-group">
                    <label for="damagesTextField"style = "color:white">Incident Damages</label>
                    <input type="text" class="form-control" id="damagesTextField" placeholder="Enter incident damages" name="damages" required>
                </div>
                <div class="form-group">
                    <label for="stateTextField"style = "color:white">Incident State</label>
                    <select type="text" class="form-control" id="stateTextField" placeholder="Enter incident state" name="state" required>
                        <option value="Active">Active</option>
                        <option value="Addressed">Addressed</option>
                    </select>
                </div>
                <br>
                <button class="btn btn-primary" type="submit">Submit
                <i class="fas fa-edit"></i></button>
                &nbsp;
                <button class="btn btn-warning" type="button"
                 onclick="window.history.back()">Cancel
                    <i class="fas fa-undo"></i></button>    
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs')%>